<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!--Below connection string is for the live site-->
  <!--TBA-->
  <!--Below connection string is for dev testing-->
  <!--connectionString="Data Source=C0235\SQL2016;Initial Catalog=ExwoldTracking;Persist Security Info=True;User ID=Exwold;Password=Exwold-991068"-->
  <connectionStrings>
    <add name="ExwoldPcInterface.Properties.Settings.ExwoldTrackingConnectionString"      
      connectionString="Data Source=C0235\SQL2016;Initial Catalog=ExwoldTracking;Persist Security Info=True;User ID=Exwold;Password=Exwold-991068"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="logPath" value="C:\LogFiles"/>
    <add key="appName" value="ExwoldPcInterface"/>
    <add key="logLevel" value="0"/>
    <add key="ScannerPortStart"  value="1500" />
    <add key="NumberOfScanners"  value="2" />
  </appSettings>
  
</configuration>