<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Connectivity" type="ITS.Exwold.Desktop.ConnectivitySection, ExwoldDesktop" />
    <section name="ExwoldPlant" type="ITS.Exwold.Desktop.ExwoldPlantSection, ExwoldDesktop" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="SampleProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           keyContainerName="PalletTrackingKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <Connectivity>
    <setting name="UseCloud" value="true" encrypted="false" />
    <setting name="LocalURI" value="http://localhost:7071/api/" encrypted="false" />
    <setting name="AzureURI" value="https://callprocedure.azurewebsites.net/api/" encrypted="false" />
    <setting name="FunctionName" value="ExecuteSP" encrypted="false" />
    <setting name="FunctionKey" value="wjHjLEx1JfhYlj9HTdql2/R60QSRWEDd6MfAWNcSuOqJL4Ck5MrKnQ==" encrypted="false" />
  </Connectivity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="plantNumber" value="1" />
	<add key="tcpListenPort" value="1500" />
	<add key="logPath" value="C:\LogFiles" />
    <add key="logLevel" value="0" />
    <add key="NiceLabelSDKPath" value="E:\Program Files\NiceLabel\NiceLabel 2019\bin.net" />
  </appSettings>
  <ExwoldPlant>
    <plant id="1" name="Brenda Road">
      <ProductionLines>
        <line id="1" name="BR Line 1" />
        <line id="2" name="BR Line 2" />
        <line id="3" name="BR Line 3" />
        <line id="4" name="BR Line 4" />
        <line id="5" name="BR Line 5" />
        <line id="6" name="BR Line 6" />
      </ProductionLines>
      <PalletLabelPrinters>
        <printer id="101" name="BR Pallet Label Printer 1" ipaddr="192.168.101.21" />
        <printer id="102" name="BR Pallet Label Printer 2" ipaddr="192.168.101.22" />
        <printer id="103" name="BR Pallet Label Printer 3" ipaddr="192.168.101.23" />
        <printer id="104" name="BR Pallet Label Printer 4" ipaddr="192.168.101.24" />
      </PalletLabelPrinters>
      <OuterPackLabelPrinters>
        <printer id="111" name="BR OuterPack Label Printer 1" ipaddr="192.168.101.51" />
      </OuterPackLabelPrinters>
      <InnerPackLabelPrinters>
        <printer id="121" name="BR InnerPack Label Printer 1" ipaddr="192.168.101.61" />
      </InnerPackLabelPrinters>
      <StandAloneScanners>
        <scanner id="161" name="BR Stand Alone Scanner 1" ipaddr="192.168.101.41" port="51235" prodline="1" scanrate="4000" condition="active" />
        <scanner id="162" name="BR Stand Alone Scanner 2" ipaddr="192.168.101.42" port="12000" prodline="2" scanrate="4500" condition="inactive" />
        <scanner id="163" name="BR Stand Alone Scanner 3" ipaddr="192.168.101.43" port="51236" prodline="3" scanrate="5000" condition="active" />
        <scanner id="164" name="BR Stand Alone Scanner 4" ipaddr="192.168.101.44" port="51236" prodline="4" scanrate="5500" condition="active" />
      </StandAloneScanners>
      <HandHeldScanners>
        <scanner id="171" name="BR Hand-Held Scanner 1" ipaddr="192.168.101.31" port="20000" prodline="1" condition="active" />
        <scanner id="172" name="BR Hand-Held Scanner 2" ipaddr="192.168.101.32" port="20000" prodline="2" condition="active" />
        <scanner id="173" name="BR Hand-Held Scanner 3" ipaddr="192.168.101.33" port="20000" prodline="3" condition="active" />
        <scanner id="174" name="BR Hand-Held Scanner 4" ipaddr="192.168.101.34" port="20000" prodline="4" condition="active" />
        <scanner id="175" name="BR Hand-Held Scanner 5" ipaddr="192.168.101.35" port="20000" prodline="0" condition="spare" />
      </HandHeldScanners>
    </plant>
    <plant id="2" name="Queens Meadow">
      <ProductionLines>
        <line id="21" name="QM Line 1" />
      </ProductionLines>
      <PalletLabelPrinters>
        <printer id="101" name="QM Pallet Label Printer 1" ipaddr="192.168.102.21" />
      </PalletLabelPrinters>
      <OuterPackLabelPrinters>
        <printer id="111" name="QM OuterPack Label Printer 1" ipaddr="192.168.102.51" />
      </OuterPackLabelPrinters>
      <InnerPackLabelPrinters>
        <printer id="221" name="QM InnerPack Label Printer 1" ipaddr="192.168.102.61" />
      </InnerPackLabelPrinters>
      <StandAloneScanners>
        <scanner id="261" name="QM Stand Alone Scanner 1" ipaddr="192.168.102.41" port="12000" prodline="21" scanrate="5000" condition="active" />
      </StandAloneScanners>
      <HandHeldScanners>
        <scanner id="271" name="QM Hand-Held Scanner 1" ipaddr="192.168.103.31" port="20000" prodline="21" condition="active" />
      </HandHeldScanners>
    </plant>
    <plant id="3" name="Tofts Farm">
      <ProductionLines>
        <line id="31" name="TF Line 1" />
      </ProductionLines>
      <PalletLabelPrinters>
        <printer id="301" name="TF Pallet Label Printer 1" ipaddr="192.168.103.21" />
      </PalletLabelPrinters>
      <OuterPackLabelPrinters>
        <printer id="311" name="TF OuterPack Label Printer 1" ipaddr="192.168.103.51" />
      </OuterPackLabelPrinters>
      <InnerPackLabelPrinters>
        <printer id="321" name="TF InnerPack Label Printer 1" ipaddr="192.168.103.61" />
      </InnerPackLabelPrinters>
      <StandAloneScanners>
        <scanner id="361" name="TF Stand Alone Scanner 1" ipaddr="192.168.103.41" port="12000" prodline="31" scanrate="5000" condition="active" />
      </StandAloneScanners>
      <HandHeldScanners>
        <scanner id="371" name="TF Hand-Held Scanner 1" ipaddr="192.168.103.31" port="20000" prodline="31" condition="active" />
      </HandHeldScanners>
    </plant>
  </ExwoldPlant>  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
